.topnav {
    background-color: black;
    overflow: hidden;
    height: 70px;
  }
  .topnav img{
    float: left;
  }
  .topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(241, 234, 234);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2b9ce7;
    color:black;
    height: 42px;
    font: size 20px; ;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  p {
    font-family:'Changa', sans-serif;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    margin: 1px;
    line-height: 1.25;
    font-size: 23;
  }
  .special {
    
   color: white;
    background-color: rgb(2, 48, 71);
padding: 10px;
width: 10%;

  }

  .white {
    color:black;
    background-color:rgb(255, 183, 3);
    width: 7%;
    padding: 6px;
  }
 
  .head {
    color: white;
    background-color: rgb(2, 48, 71);
padding: 10px;
width: 30%;
  }
  div{
   background-image: url(../خلفيات-ساده-للتصميم-خلفية-زرقاء-للكتابه-عليها-8[1].jpg);
   background-size: cover;
 }
 .firstphoto{
   padding: 0px 0px 0px 0px;
   size: 80%;

 }
 .new {
  color:black;
  background-color:rgb(255, 183, 3);
  width:9%;
  padding: 6px;
 }
 .newnew{
  color:black;
  background-color:rgb(255, 183, 3);
  width: 15%;;
  padding: 6px;
 }
 .newnewnew{
  color:black;
  background-color:rgb(255, 183, 3);
  width:9%;
  padding: 6px;
 }
 .img {
   margin-left: 140px;
 }
 .link{
color: black;
display: inline-block;
background-color: red;
text-decoration: none;
 
 }
 