.topnav {
    background-color: black;
    overflow: hidden;
    height: 70px;
  }
  .topnav img{
    float: left;
  }
  .topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(241, 234, 234);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2b9ce7;
    color:black;
    height: 42px;
    font: size 20px; ;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.head{
background-color: brown;
color: #ddd;
display: inline-block;


}

div{

  background-color: black;
  color: #ddd;
  font-family: 'Changa', sans-serif;
  line-height: 11px;
  font-size: small;
}
   
