.topnav {
  background-color: black;
  overflow: hidden;
  height: 70px;
}
.topnav img{
  float: left;
}
.topnav a {
  float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(241, 234, 234);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2b9ce7;
  color:black;
  height: 42px;
  font: size 20px; ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.head{
  background-color: #ddd;
  text-align: center;
  padding: 25px;
}



.topwords{
 margin-left: 8%;
 font-size: 20px;
 line-height: 1.5px ;
 background-color: #a9dcd6;
 padding: 7px;
 

}
.topwords2{
  margin-left:19%;
  text-shadow: 1.5px 1.5px 1.5px blue;
  
}
h1{
  line-height: 0.75px;
  list-style: inherit;
}
.video{
  margin-left:5%;

}
.divvv{
  background-color: #ddd;
  color: black;
  width: 400px;
height: 390px;
line-height: 1.7px;
margin-left: 20px;
padding: 10px;
}
.divv{
  background-color: #ddd;
  color: black;
  width: 400px;
height: 390px;
padding: 3px;
line-height:1.7px;
float: right;
margin-right: 450px;
padding:10px;


}
.divvvv{
 
  background-color: #ddd;
  color: black;
  width: 400px;
height: 390px;
padding: 3px;
line-height:1.7px;
float: right;
margin-right: 450px;
padding:10px;
margin-bottom: 20%;
margin-top: 2%;


}
.divvvvv{

  background-color: #ddd;
  color: black;
  width: 400px;
height: 390px;
line-height: 1.7px;
margin-left: 20px;
padding: 10px;
margin-top:2%;

}


.divss{
  background-color: #ddd;
  color: black;
  width: 400px;
height: 390px;
padding: 10px;
line-height:1.7px;
margin-bottom: 100%;
margin-left: 20px;
margin-top: 2%;
}
p{
  font-family: 'Changa', sans-serif;
}
.link{
 color: white;
  display: inline-block;
  background-color: darkblue;
  text-decoration: none;
  padding: 9px;
  font-size: large;
   
   }
