h1{
    text-align: center;
    border: double;
}
.p1{
    font-size: 20px;
}
.i2{
    position: relative;
    right: -75%;
}
.p2{
    font-size: 20px;
}
.p3{
    font-size: 20px;
}
.p4{
    font-size: 20px;
}
.i4{
    position: relative;
    right: -75%;
}
.p5{
    font-size: 20px;
}
.i6{
    position: relative;
    right: -75%;
}
.p6{
    font-size: 20px;
}
.p7{
    font-size: 20px;
}
.p8{
    font-size: 20px;
}
.i7{
    position: relative;
    right: -75%;
}
.p9{
    font-size: 20px;
}
.i8{
    position: relative;
    right: -75%;
}
.p10{
    font-size: 20px;
}
body{
    background-color: antiquewhite;
}
.topnav {
    background-color: black;
    background-color: ;
    overflow: hidden;
    height: 70px;
  }
  .topnav img{
    float: left;
  }
  .topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(241, 234, 234);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2b9ce7;
    color:black;
    height: 42px;
    font: size 20px; ;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h3{
    background-color: burlywood;
  }