/* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}/*


/* Add a black background color to the top navigation */
.conpage{
   max-width: 1500px;
}


.logo{
  background-color: black;
 /* max-width: 1200px;*/
  margin: ;
  height: 200px;
  box-sizing: border-box;
}

.topnav {
  background-color: #2b9ce7;
  background-color: ;
  overflow: hidden;
  height: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(241, 234, 234);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color:white;
  height: 50px;
  font: size 20px; ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}