.conpage{
  width: 1200px;
  margin: auto;
}


.logo{
  background-color: black;
  max-width: 1200px;
  margin: ;
  height: 200px;
  box-sizing: border-box;
}

.topnav {
  background-color: black;
  background-color: ;
  overflow: hidden;
  height: 70px;
}
.topnav img{
  float: left;
}
.topnav a {
  float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(241, 234, 234);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2b9ce7;
  color:black;
  height: 42px;
  font: size 20px; ;
  font-family: Georgia, 'Times New Roman', Times, serif

  }
  .conpage2{
    width:1200px;
    margin:auto;
  }
  {box-sizing: border-box;}
body {font-family: verdana , sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

  .tittle{
    text-align: center;
    font-size: 70px;
  }

  .two{
    float:left;
  }
  .spe{
    font-family: 'changa',sans-serif;
    font-size: 20px;
  }
  .one{
    float:left;
  }
  .spo{
    font-family: 'changa',sans-serif;
    text-align: right;
    font-size: 20px;}
    .n{
      float: right;
    }
    .spn{
      font-family: 'changa',sans-serif;
      text-align: left;
      font-size: 20px;
    }
    .m{
      margin:10px
    }
    .no{font-family: 'changa',sans-serif;
      font-size: 20px;}


    .t{font-family: 'changa',sans-serif;
      font-size: 20px;}

    }
    .mo{
      font-family: 'changa' ,sans-serif;
      font-size: 20px;
    }

    
