.conpage{
    width: 1200px;
    margin: auto;
  }
  
  
  .logo{
    background-color: black;
    max-width: 1200px;
    margin: ;
    height: 200px;
    box-sizing: border-box;
  }
  
  .topnav {
    background-color: black;
    background-color: ;
    overflow: hidden;
    height: 70px;
  }
  .topnav img{
    float: left;
  }
  .topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(241, 234, 234);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2b9ce7;
    color:black;
    height: 42px;
    font: size 20px; ;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.tittle{
    color:black; font-size: 70px;
        background-color:white ; 
        text-align: center;
      }
      .ph1{
        float: right;
      }

      .m1{
          font-size: 20px;color: black;
          background-color: white;
          border: unset;
          font-family:'Changa', sans-serif; 
          text-align: left;

      }
      .line{
        font-size: 40px ;
      }
      .my{
        border-style: groove;
      }
      .m2{ font-size: 20px;color: black;
        background-color: white;
        border: unset;
        font-family:'Changa', sans-serif; }
        .po{
          float:left;
        }
        .my5{
          float:left;
        }
        .spe{
          font-family:'Changa', sans-serif;
          font-size: 20px;color: black
        }
        .ph2{
          float:left;
        }
        .m7{
          float:left;
        }
        .my8{
          float:right;
        }

        
        


   
   